<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

In [4]:
x = 5
print(type(x))

<class 'int'>

In [5]:
 x = "Hello World"
 print(type(x))

<class 'str'>

In [6]:
 x = 20.5
 print(type(x))

<class 'float'>

In [7]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [8]:
 x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [9]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [10]:
 x = True
print(type(x))

<class 'bool'>

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [1]:
 x = 5
 x =float(x)
print(x)

5.0

### Insert the correct syntax to convert x into a integer.

In [3]:
 x = 5.5
 x =int(x)
 print(x)

5

## Exercise on string

### Use the `len()` function to print the length of the string.

In [11]:
x = "Hello World"
print(len(x))

11

### Get the first character of the string txt.

In [13]:
txt = "Hello World"
x =txt[0]
print(x)

H

### Get the characters from index 2 to index 4 (llo).

In [17]:
txt = "Hello World"
x =txt[2:5]
print(x)

llo

##### Return the string without any whitespace at the beginning or the end.
##### hint ` txt.strip()`

In [ ]:
# txt = " Hello World "
# x =..................

### Convert the value of `txt` to upper case.

In [18]:
txt = "Hello World"
txt =txt.upper()
print(txt)

HELLO WORLD

### Convert the value of `txt` to lower case.

In [19]:
txt = "Hello World"
txt =txt.lower()
print(txt)

hello world

#### Replace the character` H` with a `J`

In [20]:
 txt = "Hello World"
txt = txt.replace("H","J" )
print(txt)

Jello World

#### Insert the correct syntax to add a placeholder for the age parameter.

In [22]:
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

### Exercise on Booleans

The statement below would print a Boolean value, which one?

In [23]:
print(10 > 9)

True

The statement below would print a Boolean value, which one?

In [24]:
 print(10 == 9)

False

The statement below would print a Boolean value, which one?

In [25]:
print(10 < 9)

False

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [26]:
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are!''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are!

### <font color='gold'>Exercise-2</font>

In [31]:
#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.
first_name="kareem"
second_name="abbas"
print(f" {first_name} {second_name}")
print(f" {second_name} {first_name}")

 kareem abbas
 abbas kareem

### <font color='gold'>Exercise-3</font>

In [33]:
#### Write a Python program that calculates the area of a circle and radius = 1.1
r=1.1
area=3.14*r*r
print(area)

3.7994000000000008

### <font color='gold'>Exercise-4</font>

In [40]:
#### Write a Python program that accepts a filename from the user and prints the extension of the file.
file="abc.java"

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

### <font color='gold'>Exercise-5</font>

#### Covert from string to list and tuple value ="Amit"

 ## After that

### Relace the index 3 in the list

In [47]:
 ### Convert the list to string and print the list
    x="amit"
    list(x)

IndentationError: unexpected indent (2925297760.py, line 2)

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

In [50]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[2:4])

['White', 'Black']

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [ ]:
#Sample Output:
# a string that you "don't" have to escape
# This
# is a  ....... multi-line
# heredoc string --------> example

## <font color='gold'>Exercise- 8</font>

In [53]:
###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com
site="https://www.google.com/"
mail="kareem@gmail.com"
print(site.startswith("https"))
print(mail.endswith("@gmail.com"))

True
True

# Thanks ‚ù§

<img src="https://pbs.twimg.com/media/ELwC6EgXYAE8AtN.jpg" alt="Italian Trulli">